@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.section{
    padding: 4.5rem 0 2rem;
}

body {
    margin: 0;
    color: #ffffff;
    background: #000000;
    overflow-x: hidden;
    min-height: 160vh;
}

.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
}

.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    max-width: 30em;
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    width: 100%;
    background-color: #242323;
}



.header-body{
    display: flex;
    flex-direction: column;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}

.btn{
    padding: 9px 25px;
    background-color: rgb(91, 211, 241);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.btn:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.main_tag{
    color: rgb(255, 253, 253);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home_content h3{
    font-size: 2.8rem;
    font-weight: 700;
}

.home_content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: rgb(91, 211, 241);
}

.home_content h1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.3;
}

.home_content p{
    font-size: 1.6rem;
}


  .home_train_container {
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  svg {
    height: 85%;
  }
  
  
  @keyframes trainAnimation {
    0% {
      transform: translate(2500px, calc(-1 * 2500px * 0.57735026919));
    }
  
    35% {
      transform: translate(0);
    }
  
    65% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-2500px, calc(2500px * 0.57735026919));
    }
  }
  
  #Train1 {
    animation: trainAnimation 8s ease-in-out infinite;
    animation-fill-mode: forwards;
    transform: translate(2500px, calc(-1 * 2500px * 0.57735026919));
  }
  
  #Train2 {
    animation: trainAnimation 6s 1s ease-in-out infinite reverse;
    animation-fill-mode: forwards;
    transform: translate(-2500px, calc(2500px * 0.57735026919));
  }

.why{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_title{
    padding: 0 0 4rem 0;
    font-size: 3rem;
}

  .why__container {
    justify-content: center;
    display: flex;
}
.why__group{
    position: relative;
}

.why__img{
    width: 600px;
    border-radius: .5rem;
}

.why__card{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    padding: 1rem .75rem;
    text-align: center;
    border-radius: 1.25rem;
}

.why__card-title{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.why__card-description{
    font-size: var(--smaller-font-size);
}

.why__title{
    
    text-align: initial;
    margin-bottom: 2.8rem;
}

.why__description{
    margin-bottom: 2rem;
}

.why{
    padding: 6rem;
    display: flex;
    justify-content: center;
}

.team{
    background: #000000;
    margin-top:  4rem;
}

.wrapper .title{
    text-align: center;
}

.title h4{
    display: inline-block;
    padding: 20px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(191, 191, 191, 0.1);
    word-wrap: break-word;
}

.wrapper .card_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card_container .card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgb(151, 224, 242),
                inset 0 0 0 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.card .imbx, .imbx img{
    width: 100%;
    height: 100%;
}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.6s;
}

.card:hover .content{
    bottom: 0;
    transition-delay: 0s;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
    opacity:  1;
    transform: translateY(0);
}

.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}


.team_card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* --------------------------------------------------------------------- */

.about{
    padding: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}


.about-img img{
    width: 30vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}



.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem  ;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

    /* ------------------------------------------------------------------------------------ */
    
.slideable{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #020202;
}

.slide_container{
    max-width: 1120px;
    width: 80%;
    background-color: rgb(27, 26, 26);
    padding: 40px 0;
}

.slide_card{
    border-radius: 25px;
    background-color: #ffffff;
}

.slide_content{
    padding: 45px 20px;
    margin: 0 40px;
}

.slidecard_image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.slidecard_image .slidecard_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(91, 211, 241);
}

.slideimage_content,
.slidecard_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.slideimage_content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(91, 211, 241);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(91, 211, 241);
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: rgb(255, 255, 255);
}


.name{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.decription{
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.swiper_btn{
    color: rgb(116, 220, 247);
    transition: color 0.3s ease;
}

.swiper_btn:hover{
    color: blue;
}


.main_content{
    padding-top: 5rem;
}


.discr_box{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 50px 0;
    display: grid;
    place-items: center;
}

.main_container{
    margin: 10rem;
    width: 70%;
    height: auto;
    position: relative;
}

.main_container::after{
    position: absolute;
    content: ' ';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to right, rgb(96, 250, 255), rgb(91, 211, 241));
}

.main_container ul{
    list-style: none;
}

.main_container ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: #000000;
    box-shadow: 1px 1px 25px rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}

.main_container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translate(-30px);
    text-align: right;
}

.main_container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translate(30px);
}

.main_container ul li .title{
    font-size: 20px;
    font-weight: 500;
    color: rgb(91, 211, 241);
}

.main_container ul li:nth-child(4){
    margin-bottom: 0;
}

ul li p {
    font-size: 15px;
    color: #666;
    margin: 7px 0;
}

ul li .steps{
    margin-bottom: 1rem;
    position: absolute;
    top: -40px;
    width: 135px;
    height: 35px;
    border-radius: 20px;
    color: #030303;
    background-image: linear-gradient(to right, rgb(54, 100, 238), rgb(91, 211, 241));
    display: grid;
    place-items: center;
    font-size: 15px;
}

.main_container ul li .circle{
    width: 30px;
    height: 30px;
    background-color: rgb(91, 211, 241);
    border-radius: 50%;
    position: absolute;
    top: 0;

}

.main_container ul li .circle::after{
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: rgb(91, 151, 241);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_container ul li:nth-child(odd) .steps{
    right: 20px;
}

.main_container ul li:nth-child(odd) .circle{
    right : -30px;
    transform: translate(50%, -50%);
}


.main_container ul li:nth-child(even) .circle{
    left: -30px;
    transform: translate(-50%, -50%);
}

.btn{
    color: #fff;
}


.disc_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vid{
    margin-top: 3rem;
    background-color: #242323;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vid video{
    width: 700px;
    height: auto;
    border: 5px solid rgb(91, 211, 241);
    border-radius: 25px;
}


.written_dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.written_matter{
    width: 80%;
    background-color: #242323;
    padding: 25px;
}

.written_matter p{
    max-width: 100%;
    font-size: 20px;
}

.dis_head{
    padding: 2rem;
}

.team_logo{
    
    width: 330px;
    padding: 2rem;
}

.team_logo img{
    width: 330px;
}

.discription{
    padding-top: 5rem;
}

::-webkit-scrollbar{
    width: 0.6rem;
    background-color: hsl(219, 4%, 16%);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(219, 4%, 24%);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(219, 4%, 32%);
}